@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Roboto+Slab:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: rgba(211, 211, 211, 0.3);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p, a, span, li::marker {
    font-family: Roboto, sans-serif;
    font-size: 1.125em;
    line-height: 1.75rem;
}

.rotateY:hover i {
    transform: rotateY(180deg);
}

.square-1 {
    width: 30vw;
    height: 30vw;
    background-color: #FFBF17;
    transform: rotate(45deg);
    position: absolute;
    top: 50vh;
    left: -15vw;
    overflow: hidden;
}

.square-1 p {
    transform: rotate(-35deg);
}
